@use '../mixins.scss' as *;
@use '../variables.scss' as *;

.accordeon {
 @include grid-with-inner-context {
  @include grid-columns-span((small: 4, medium: 6, large: 9));
 }

 overflow: hidden;
 margin-top: $indent-80;
}


.accordeon-text {
 background-color: $color-white-4;
 padding-bottom: $indent-8;
 opacity: 0;
 transition: all .25s linear;
 animation-timing-function: linear;
 animation-name: show-border;
 animation-duration: .25s;
 animation-fill-mode: both;
}

@keyframes show-border {
 0% {}

 100% {
  border-bottom: 2px solid $color-blue;
 }
}

.accordeon-text-block {
 opacity: 1;
}

.accordeon-arrow {
 position: absolute;
 top: 12px;
 right: 2px;
 width: 7px;
 height: 7px;
 transition: .2s;
 border-top: 2px solid $color-blue;
 border-right: 2px solid $color-blue;
}

.accordeon-arrow-bottom {
 transform-origin: center center;
 transform: rotate(135deg);
}

.accordeon-arrow-top {
 top: 15px;
 transform-origin: center center;
 transform: rotate(-45deg);
}

.accordeon-block {
 @include grid-columns-span((tiny: 4, small: 4, medium: 6, large: 9));
 position: relative;
 background-color: $color-white-4;
 margin-bottom: $indent-24;
}

.accordeon-placeholder {
 font-weight: 500;
 color: $color-gray-64;
 padding: 8px 0px;
 background-color: $color-white-4;
 border-bottom: 2px solid $color-gray-32;
 transition: all .3s linear;

 &:hover:not(.accordeon-placeholder-active) {
  color: $color-gray-100;
  border-bottom: 2px solid $color-blue;
 }

}

.accordeon-placeholder-active {
 color: $color-blue;
 border-bottom: 2px solid $color-white-4;
}


.accordeon-placeholder-and-arrow {
 cursor: url(../images/finger.svg), pointer;
 position: relative;
}