@use '../mixins.scss' as *;
@use '../variables.scss' as *;


.block {
 @include grid-with-inner-context {
  @include grid-columns-span((small: 4, medium: 6, large: 9));
 }

 margin-top: $indent-80;
}

.block-title {
 @include grid-columns-span((small: 4, medium: 5, large: 6));
}

.block-level {
 @include grid-columns-span((small: 4, medium: 5, large: 6));
 margin-top: $indent-16;
}

.block-text {
 @include typo-make-text;
 @include grid-columns-span((small: 4, medium: 5, large: 6));
 margin-top: $indent-24;
}