@use '../mixins.scss' as *;
@use '../variables.scss' as *;


.style-c {
 display: inline-block;
 position: relative;
 padding-left: 30px;
 cursor: url(../images/finger.svg), pointer;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

.style-c .checkbox__body {
 color: $color-warm-gray;
 line-height: 1.4;
 font-size: 16px;
}

.style-c .checkbox__checkmark {
 position: absolute;
 top: 2px;
 left: 0;
 height: 20px;
 width: 20px;
 transition: background-color 0.25s ease;
}

.checkbox__checkmark {
 border: 2px solid $color-gray-32;
}

.style-c .checkbox__checkmark:after {
 content: "";
 position: absolute;
 left: 5px;
 top: 1px;
 width: 5px;
 height: 10px;
 border: solid 2px $color-white-4;
 border-width: 0 2px 2px 0;
 transform: rotate(45deg);
 opacity: 0;
 transition: opacity 0.25s ease;
}

.style-c input,
.style-f input {
 position: absolute;
 opacity: 0;
 cursor: url(../images/finger.svg), pointer;
 height: 0;
 width: 0;
}

.style-c input:checked~.checkbox__checkmark {
 background-color: $color-blue;
 border: 2px solid $color-blue;
}

.style-c input:checked~.checkbox__checkmark:after {
 opacity: 1;
}

.style-c:hover input:checked~.checkbox__checkmark {
 background-color: $color-blue;
}

.style-c:hover input~.checkbox__checkmark {
 border: 2px solid $color-blue;
}

.checkmark_blue {
 border: 2px solid $color-blue;
}