@use '../mixins.scss' as *;
@use '../variables.scss' as *;

.demonstration {
 @include grid-with-inner-context {
  @include grid-columns-span((small: 4, medium: 6, large: 9));
 }

 margin-top: $indent-32;
}

.demonstration-block {
 @include grid-columns-span((small: 4, medium: 2, large: 3));
 position: relative;
 margin-top: $indent-44;
}

.demonstration-button {
 background-image: linear-gradient(75deg, #CBCBCC, #CBCBCC);
 width: 148px;
 height: 56px;
 border-radius: 32px;
 margin-top: $indent-32;
 color: #FFFFFF;
 font-family: 'Graphik';
 font-weight: 500;

 &:not(:disabled) {
  margin-top: $indent-32;
  width: 148px;
  height: 56px;
  border-radius: 32px;
  position: relative;
  background-image: linear-gradient(75deg, $color-pink, $color-blue);
  border: none;
  overflow: hidden;
  color: #FFFFFF;
  cursor: pointer;
  transition: filter .3s ease-in;
  z-index: 1;

  &:hover {
   &:before {
    opacity: .7;
   }

  }

  &:active {
   &:before {
    background-image: linear-gradient(220deg, $color-blue, $color-pink);
   }
  }
 }

}

.demonstration-button:before {
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 border-radius: inherit;
 background-image: linear-gradient(75deg, $color-blue, $color-pink);
 transition: opacity .3s ease-in, filter .1s ease-in;
 pointer-events: none;
 z-index: -1;
 opacity: 0;
 transform: translateZ(0);
 content: "";
}


.demonstration-button-hover {
 background: linear-gradient(225deg, $color-pink 0%, color-blue 100%);
}

.demonstration-button-active {
 background: linear-gradient(206.57deg, $color-pink 0%, color-blue 83.33%);
}

// .demonstration-button-unactive {
//  background: #CBCBCC;
// }

.demonstration-checkbox {
 margin: 5px;
}

.demonstration-error {
 position: absolute;
 top: $indent-24;
 left: 0;
 color: #E80F3B;
 margin-top: $indent-12;
 height: 24px;
}

.demonstration-input {
 position: absolute;
 top: 0;
 left: 0;
 border: none;
 border-bottom: 2px solid $color-gray-32;
 background-color: $color-white-4;
 height: 24px;
 width: 100%;
 padding-bottom: $indent-8;
 cursor: url(../images/finger.svg), pointer;
}

.demonstration-input-typing {
 border-bottom: 4px solid $color-blue;
}

.demonstration-input-error {
 border-bottom: 4px solid $color-red;
}

.demonstration-input-hover {
 border-bottom: 2px solid $color-blue;
}

.demonstration-placeholder {
 transition: .3s linear;
 display: block;
 position: absolute;
 top: -4px;
 font-size: 16px;
 font-weight: 500;
 line-height: 24px;
 color: #1b1b1b;
 z-index: 1;
}

.demonstration-placeholder-active {
 transform: translateY(-20px);
 font-size: 14px;
 line-height: 22px;
 font-weight: 400;
}

.demonstration-placeholder-error {
 transition: .3s linear;
 color: #E80F3B;
}

@media (max-width:767px) {
 .demonstration-block {
  margin-top: $indent-120;
 }

 .demonstration-error {
  margin-top: $indent-32;
 }
}