@use '../mixins.scss' as *;
@use '../variables.scss' as *;

.dropdown {
 @include grid-with-inner-context {
  @include grid-columns-span((tiny: 4, small: 4, medium: 6, large: 9));
 }

 margin-top: $indent-44;
}

.dropdown-arrow {
 position: absolute;
 top: 9px;
 right: 2px;
 width: 7px;
 height: 7px;
 transition: .2s;
 border-top: 2px solid $color-blue;
 border-right: 2px solid $color-blue;
}

.dropdown-arrow-bottom {
 transform-origin: center center;
 transform: rotate(135deg);
}

.dropdown-arrow-top {
 top: 12px;
 transform-origin: center center;
 transform: rotate(-45deg);
}

.dropdown-block {
 position: relative;
 @include grid-columns-span((tiny: 4, small: 4, medium: 2, large: 3));
 margin-bottom: $indent-32;

 &:hover {
  cursor: url(../images/finger.svg), pointer;
 }
}

.dropdown-placeholder {
 width: 100%;
 display: block;
 padding: 8px 0px;
 border-bottom: 2px solid $color-gray-32;
 transition: all .2s linear;

 &:hover:not(.dropdown-placeholder-active) {
  border-bottom: 2px solid $color-blue;
 }
}

.dropdown-placeholder-active {
 border-bottom: 2px solid $color-blue;
}

.dropdown-setofitems {
 width: 100%;
 background-color: $color-white-4;
 transition: all .4s linear;
 visibility: hidden;
 opacity: 0;
 box-shadow: 0px 8px 16px $color-gray-100;
}

.dropdown-setofitems-active {
 opacity: 1;
 visibility: visible;
}

.dropdown-setofitems-item {
 padding: $indent-8 $indent-16;
 color: $color-gray-100;

 &:hover {
  color: $color-white-4;
  background-color: $color-blue;
 }
}

.dropdown-setofitems-item-blue {
 color: $color-blue;
}

.dropdown-wrapper-placeholder-and-arrow {
 position: relative;
}