@use '../mixins/grid.scss' as *;
@use '../variables.scss' as *;

.burger {
 width: 40px;
 height: 40px;
 position: relative;
 transition: .2s;

 &:hover {
  cursor: url(../images/finger.svg), pointer;
 }

 &::before {
  content: '';
  position: absolute;
  top: 12px;
  right: 0;
  width: 32px;
  height: 2px;
  background-color: $color-gray-100;
 }

 &::after {
  content: '';
  position: absolute;
  right: 0;
  top: 20px;
  width: 24px;
  height: 2px;
  background-color: $color-gray-100;
 }
}

.fio {
 display: flex;
 flex-direction: column;
}

.logo-and-fio {
 display: flex;
 align-items: center;
 justify-content: center;
}

.logo-img {
 margin-bottom: -6px;
}

.logo:hover {
 cursor: url(../images/finger.svg), pointer;
}

.logo-and-fio {
 @include grid-columns-span((small: 2));
 display: flex;
 align-items: center;
}

.header {
 @include grid;
 z-index: 1;
}

.header.fixed {
 height: 100px;
 width: 100%;
}

.header-flexwrapper {
 @include grid-columns-span-all;
 display: flex;
 justify-content: space-between;
 align-items: center;
}