@use '../mixins.scss' as *;
@use '../variables.scss' as *;

.menu {
 position: fixed;
 left: 0;
 top: 0;
 display: flex;
 width: 100vw;
 height: 100vh;
 transition: 1.3s;
 transform: translateX(-100%);
 z-index: 2;
}

.menu-active {
 transform: translateX(0%);
}

.menu-disactive {
 transform: translateX(-70%);
}

.menu-background {
 position: relative;
}

.menu-cross {
 content: '';
 position: absolute;
 right: 63px;
 top: 32px;
 width: 34px;
 height: 34px;
 z-index: 4;

 &:hover {
  cursor: url(../images/finger.svg), pointer;
 }

 &:before {
  content: '';
  position: absolute;
  top: 16px;
  left: 5px;
  width: 24px;
  height: 2px;
  background-color: $color-white-4;
  transform: rotate(45deg);
 }

 &:after {
  content: '';
  position: absolute;
  top: 16px;
  left: 5px;
  width: 24px;
  height: 2px;
  background-color: $color-white-4;
  transform: rotate(-45deg);
 }
}


.menu-img {
 position: fixed;
 top: 0;
 left: 0;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 100%;
 max-width: 100vw;
 max-height: 100vh;
 overflow: hidden;
}

.menu-info-and-logo {
 position: absolute;
 top: 1%;
 left: 8px;
 height: 98%;
 width: 56%;
 background-color: $color-white-4;
 z-index: 3;
}

.menu-info-and-logo-link {
 position: absolute;
 width: 100%;
 left: 22%;
 bottom: 50px;
 display: flex;
 align-items: center;
}

.menu-info-and-logo__arrow {
 position: absolute;
 overflow: hidden;
 top: -4px;
 right: -4px;
 width: 7px;
 height: 7px;
 padding-bottom: 6px;
 background-color: $color-white-4;
 border-top: 2px solid $color-blue;
 border-right: 2px solid $color-blue;
 z-index: 2;
}

.menu-info-and-logo__squareandarrow {
 background-color: $color-white-4;
 position: relative;
 width: 12px;
 height: 12px;
 border: 2px solid $color-blue;
 z-index: 1;
}

.menu-info-and-logo-link__link {
 font-weight: 500;
 color: $color-blue;
 margin-left: 5%;
}

.menu-info-and-logo-link-circle {
 width: 48px;
 height: 48px;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 50%;
 box-shadow: 0px 8px 16px $color-gray-100;

 &:hover {
  cursor: url(../images/finger.svg), pointer;
 }
}

.menu-info-and-logo__wrapper {
 display: flex;
 margin: 24px 54px;
 width: 90%;
}

.menu-info-and-logo__phone {
 margin-top: 40px;
}


.menu-info-and-logo__logo {
 height: 100%;
 width: 20%;
}

.menu-info-and-logo__description {
 margin-top: 38px;
}

.menu-info-and-logo__fio {
 margin-top: 54px;
}

.menu-info-and-logo__info {
 position: relative;
 display: flex;
 flex-direction: column;
 padding-top: 10px;
 height: 100%;
 width: 70%;
}