@use '../mixins/grid.scss' as *;
@use '../variables.scss' as *;

.style-f {
 display: inline-block;
 position: relative;
 padding-left: 30px;
 cursor: url(../images/finger.svg), pointer;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

.style-f input:checked~.checkbox__checkmark {
 background-color: $color-white-12;
 border: 2px solid $color-blue;
}

.style-f input:checked~.checkbox__checkmark:after {
 transform: scale(.5);
}

.style-f:hover input~.checkbox__checkmark {
 border: 2px solid $color-blue;
}

.style-f:hover input:checked~.checkbox__checkmark {
 background-color: $color-white-12;
}

.style-f .checkbox__checkmark {
 position: absolute;
 top: 1px;
 left: 0;
 height: 22px;
 width: 22px;
 transition: background-color 0.25s ease;
 border-radius: 11px;
}

.style-f .checkbox__checkmark:after {
 content: "";
 position: absolute;
 left: -2px;
 top: -2px;
 width: 22px;
 height: 22px;
 display: block;
 background-color: $color-blue;
 border-radius: 50%;
 transform: scale(0);
 transition: transform 0.25s ease;
}

.style-f .checkbox__body {
 color: $color-warm-gray;
 line-height: 1.4;
 font-size: 16px;
 transition: font-weight 0.25s ease;
}

.checkmark_blue {
 border: 2px solid $color-blue;
}

.checkbox__checkmark {
 border: 2px solid $color-gray-32;
}