@use '../mixins/grid.scss' as *;
@use '../variables.scss' as *;

.sidebar {
 @include grid-columns-span((medium: 2, large: 2));
}

.nav {
 position: sticky;
 top: 262px;
}

.nav__item {
 color: $color-gray-64;

 &:hover:not(.nav__item-active) {
  color: $color-gray-100;
 }
}

.nav__item-active {
 color: $color-blue;
}

@media(max-width: 767px) {
 .sidebar {
  display: none;
 }
}