@use '../mixins.scss' as *;
@use '../variables.scss' as *;

.h1-d {
 @include typo-make-h2;
}

.h2-d {
 @include typo-make-h3;
}

.h3-d {
 font-weight: 500;
 @include typo-make-h4;
}

.h4-d {
 font-weight: 500;
 @include typo-make-h5;
}

.p-auxiliary-d {
 word-break: break-all;
 font-size: $typo-text-size-small-down;
 line-height: $typo-h3-size-small-down;
}