@use '../mixins.scss' as *;
@use '../variables.scss' as *;

.typography-section {
 @include grid-with-inner-context {
  @include grid-columns-span((small: 4, medium: 6, large: 9));
 }

 margin-top: $indent-44;
}

.typography-section-example {
 @include grid-with-inner-context {
  @include grid-columns-span((small: 4, medium: 6, large: 9));
 }

 margin-top: $indent-44;
 align-items: center;
}

.typography-section-example-description {
 @include grid-columns-span((small: 4, medium: 3, large: 3));
}

.typography-section-example-text {
 @include grid-columns-span((small: 4, medium: 3, large: 4));
}

.typography-section__text {
 @include grid-columns-span-all;
 display: flex;
 color: $color-gray-64;
 border-bottom: 1px solid $color-gray-16;
}

.typography-section-text__item {
 cursor: url(../images/finger.svg), pointer;
 margin-right: $indent-12;
 margin-bottom: -2px;
 padding-bottom: $indent-16;
 transition: all .2s linear;
 border-bottom: 2px solid transparent;

 &:hover {
  color: $color-gray-100;
  border-top: none;
  border-bottom: 2px solid $color-blue;
 }
}

.typo__button-active {
 color: $color-gray-100;
 border-top: none;
 border-bottom: 2px solid $color-blue;
}

.typography__desktop {
 @include grid-with-inner-context {
  @include grid-columns-span((small: 4, medium: 6, large: 9));
 }

 position: absolute;
 top: 0;
 left: 0;
 transition: opacity .2s linear;
 opacity: 0;
 line-height: $typo-line-height-text;
 word-break: break-all;

 & h2 {
  font-size: $typo-h3-size-huge-up;
  line-height: $typo-56px;
 }

 & h3 {
  font-size: $typo-32px;
  line-height: $typo-40px;
 }

 & h4 {
  font-size: $typo-h2-size-small-down;
  line-height: $typo-h4-size-huge-up;
 }

 & h5 {
  font-size: $typo-text-size-huge-up;
  line-height: $typo-28px;
 }

 & .typo__lead-d {
  font-size: $typo-h2-size-small-down;
  line-height: $typo-32px;
 }

 & .typo__big-text-d {
  font-size: $typo-h5-size-medium;
  line-height: $typo-28px;
 }

 & .typo__common-text-d {
  font-size: $typo-h5-size-small-down;
  line-height: $typo-h5-size-huge-up;
 }
}

.typography__phone {
 @include grid-with-inner-context {
  @include grid-columns-span((small: 4, medium: 6, large: 9));
 }

 position: absolute;
 top: 0;
 left: 0;
 transition: opacity .2s linear;
 opacity: 0;
 line-height: $typo-line-height-text;

 & h2 {
  font-size: $typo-32px;
  line-height: $typo-40px;
 }

 & h3 {
  font-size: $typo-28px;
  line-height: $typo-36px;
 }

 & h4 {
  font-size: $typo-h3-size-small-down;
  line-height: $typo-28px;
 }

 & h5 {
  font-size: $typo-text-size-huge-up;
  line-height: $typo-28px;
 }

 & .typo__lead-m {
  font-size: $typo-h4-size-medium;
  line-height: $typo-28px;
 }

 & .typo__big-text-m {
  font-size: $typo-text-size-huge-up;
  line-height: $typo-28px;
 }

 & .typo__common-text-m {
  font-size: $typo-h5-size-small-down;
  line-height: $typo-h5-size-huge-up;
 }
}

.typography__active {
 opacity: 1;
}

.typography__desktop-and-phone {
 @include grid-with-inner-context {
  @include grid-columns-span((small: 4, medium: 6, large: 9));
 }

 position: relative;
}

@media(max-width: 767px) {
 .typography-section-example-text {
  margin-top: $indent-16;
 }
}