@use '../mixins.scss' as *;
@use '../variables.scss' as *;

.view {
 @include grid-with-inner-context {
  @include grid-columns-span((tiny: 4, small: 4, medium: 6, large: 9));
 }

 margin-top: $indent-44;
}

.view-description {
 @include grid-with-inner-context {
  @include grid-columns-span((tiny: 4, small: 4, medium: 6, large: 9));
 }

 margin-top: $indent-32;
}


.view-description-block {
 @include grid-columns-span((tiny: 1, small: 1, medium: 1, large: 2));

 & h3 {
  font-weight: normal;
  margin-top: $indent-8;
 }
}

.view-full {
 @include grid-columns-span((tiny: 4, small: 4, medium: 5, large: 6));
}

.view-img {
 @include grid-columns-span((tiny: 1, small: 4, medium: 6, large: 9));
 margin-top: $indent-44;
}

.view-img-picture {
 width: 100%;
 height: 100%;
 max-width: 100%;
 max-height: 100%;
}

@media(max-width:550px) {
 .view-description-block {
  grid-column: span 2;
  margin-top: $indent-16;
 }
}