////
/// A set of mixins to simplify the creation of typography styles.
/// @group typography
/// @author Daniil Filippov <d.filippov@make.st>
////

@use "../variables/colors" as *;
@use "../variables/typography" as *;

/// Base mixin for applying `font-size` and `line-height` values according to the design system.
/// @param {Length} $size - Variable or static font-size value.
/// @param {Boolean} $isHeading [false] - Whether styles are applying to some sort of heading.
/// @param {Length|normal} $letterSpacing [normal] - The letter-spacing value.
@mixin typo-make-sizes($size, $isHeading: false, $letterSpacing: normal) {
  font-size: $size;

  @if ($letterSpacing != normal) {
    letter-spacing: $letterSpacing;
  }

  @if ($isHeading) {
    line-height: $typo-line-height-heading;
  } @else {
    line-height: $typo-line-height-text;
  }
}

/// A mixin for applying `font-size` and `line-height` values according to the design system for
/// the infographics digits.
/// @param {Boolean} $isHeading [true] - Whether styles are applying to some sort of heading.
@mixin typo-make-big-digits($isHeading: true) {
  @include typo-make-sizes($typo-big-digits-size, $isHeading, $typo-big-digits-letter-spacing);
}
/// A mixin for applying `font-size` and `line-height` values according to the design system for
/// the big h1 heading.
/// @param {Boolean} $isHeading [true] - Whether styles are applying to some sort of heading.
@mixin typo-make-big-h1($isHeading: true) {
  @include typo-make-sizes($typo-big-h1-size, $isHeading, $typo-big-h1-letter-spacing);
}
/// A mixin for applying `font-size` and `line-height` values according to the design system for
/// the h1 heading.
/// @param {Boolean} $isHeading [true] - Whether styles are applying to some sort of heading.
@mixin typo-make-h1($isHeading: true) {
  @include typo-make-sizes($typo-h1-size, $isHeading, $typo-h1-letter-spacing);
}
/// A mixin for applying `font-size` and `line-height` values according to the design system for
/// the h2 heading.
/// @param {Boolean} $isHeading [true] - Whether styles are applying to some sort of heading.
@mixin typo-make-h2($isHeading: true) {
  @include typo-make-sizes($typo-h2-size, $isHeading, $typo-h2-letter-spacing);
}
/// A mixin for applying `font-size` and `line-height` values according to the design system for
/// the h3 heading.
/// @param {Boolean} $isHeading [true] - Whether styles are applying to some sort of heading.
@mixin typo-make-h3($isHeading: true) {
  @include typo-make-sizes($typo-h3-size, $isHeading, $typo-h3-letter-spacing);
}
/// A mixin for applying `font-size` and `line-height` values according to the design system for
/// the h4 heading.
/// @param {Boolean} $isHeading [true] - Whether styles are applying to some sort of heading.
@mixin typo-make-h4($isHeading: true) {
  @include typo-make-sizes($typo-h4-size, $isHeading, $typo-h4-letter-spacing);
}
/// A mixin for applying `font-size` and `line-height` values according to the design system for
/// the h5 heading.
/// @param {Boolean} $isHeading [true] - Whether styles are applying to some sort of heading.
@mixin typo-make-h5($isHeading: true) {
  @include typo-make-sizes($typo-h5-size, $isHeading, $typo-h5-letter-spacing);
}
/// A mixin for applying `font-size` and `line-height` values according to the design system for
/// the navigation link.
/// @param {Boolean} $isHeading [true] - Whether styles are applying to some sort of heading.
@mixin typo-make-navigation($isHeading: true) {
  @include typo-make-sizes($typo-navigation-size, $isHeading, $typo-navigation-letter-spacing);
}
/// A mixin for applying `font-size` and `line-height` values according to the design system for
/// the base text.
@mixin typo-make-text {
  @include typo-make-sizes($typo-text-size, false, $typo-text-letter-spacing);
}

/// A mixin for applying `font-size` and `line-height` values according to the design system for
/// the small text.
@mixin typo-make-small {
  @include typo-make-sizes($typo-small-size, false, $typo-small-letter-spacing);
}

/// A mixin for creating a text link with animated underline on hover.
@mixin typo-text-link {
  border-bottom: 1px solid transparent;
  background-image: linear-gradient(to right, currentColor 50%, transparent 50%);
  background-position: 100% calc(100% + 1px);
  background-size: calc(200% + 1px) 1px;
  background-repeat: repeat-x;
  transition: background-position $color-transition-settings, color $color-transition-settings;

  &.blur {
    background-position-x: -100%;
  }

  &:hover {
    background-position-x: 0;
  }

  &.no-transition {
    transition-duration: 0s;
  }
}

/// A mixin for creating a text link with animated underline on hover (underlined by default).
@mixin typo-text-link-underlined {
  @include typo-text-link;
  background-image: linear-gradient(to right, transparent 50%, currentColor 50%);
}
