////
/// Base styles for the turbolinks page transitions.
/// @author Daniil Filippov <d.filippov@make.st>
////

.turbolinks--loading,
.loading {
  &,
  & a {
    // stylelint-disable-next-line
    cursor: progress !important;
  }
}
